*{
    border: red solid 1px;
}

#navbar1{
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    
}
.rightside{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-start;
}
.leftside{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
    text-decoration-color: aqua;
}
p{
    width: 200px;
}
#color{
    background-color: wheat;
}
#divfix {
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 3000;
     }
     .center{
         text-align: center;
     }