body {
    background: #eee;
}
h1 {
    text-align: center;
    padding-top: 25px;
}
span {
    font-size:15px;
}
a {
  text-decoration:none; 
  color: #0062cc;
}
.box {
    padding:5px 5px;
}

.box-part {
    background:whitesmoke;
    width: 350px;
    height: 350px;
    border-radius:10px;
    padding:40px 0px;
    margin:40px 0px;
    -webkit-box-shadow: 10px 13px 15px -8px rgba(112,112,112,1);
    -moz-box-shadow: 10px 13px 15px -8px rgba(112,112,112,1);
    box-shadow: 10px 13px 15px -8px rgba(112,112,112,1);
}
.text {
    color: cadetblue;
    margin:10px 0px;
}

.fa {
     color:rgb(60, 85, 122);
}

/* #color{
    background-color: rgb(0, 0, 1);
} */
#divfix {
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 3000;
     }