
.parallax {
    position: absolute;
    width: 100%;
    height: 800px;
    overflow: fluid;

    left: 0;
}
.water {
    display: flex;
    position: absolute;
    width: 100%;
    height: 800px;
    left:0;
    background-repeat: no-repeat;
    background-position: top center;
}
.water-layer1 {
    background-image: url(http://elikirk.com/demos/liquipel/images/water-layer-1.png);
}
.water-layer2 {
    background-image: url(http://elikirk.com/demos/liquipel/images/water-layer-2.png);
}
.water-layer3 {
    background-image: url(http://elikirk.com/demos/liquipel/images/water-layer-3.png);
}
.water-layer4 {
    background-image: url(http://elikirk.com/demos/liquipel/images/water-layer-4.png);
}

.bg-white-transparent {
    background:rgba(255,255,255,.4)
    
  }


.box{
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 7rem;
    /* text-align: center; */
}

h1 {
    font-size: 4rem;
    margin-top: 0.5em;
}


@media (min-width: 576px) {
font-size: 1.25em;
.row{
    align-items: center;
}

}
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
font-size: 1em;
align-items: center;
.row{
    align-items: center;
}
}
@media (min-width: 992px) {
    .row{
        align-items: center;
    }
}
 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .row{
        align-items: center;
    }
}